In [ ]:
import sqlite3
import pandas as pd
import random as rd
import datetime
from datetime import datetime,timedelta,date
import numpy as np
con = sqlite3.connect('olshop.db')
c = con.cursor()

In [ ]:
c.execute("""CREATE TABLE Customers (
customer_ID INTEGER,
customer_number INTEGER,
customer_name VARCHAR(50),
customer_email VARCHAR(50),
customer_gender VARCHAR(10),
customer_address VARCHAR(100)
)

""")

In [ ]:
c.execute("""CREATE TABLE Seller (
seller_ID INTEGER,
seller_number INTEGER,
seller_name VARCHAR(50) ,
seller_address VARCHAR(100)

)

""")

In [ ]:
c.execute("""CREATE TABLE Product (
product_ID INTEGER,
brand_ID INTEGER,
seller_ID INTEGER,
product_name VARCHAR(50),
product_price INTEGER

)

""")

In [ ]:
c.execute("""CREATE TABLE Cart (
cart_ID INTEGER,
customer_ID INTEGER,
product_ID INTEGER,
number_of_product INTEGER

)

""")

In [ ]:
c.execute("""CREATE TABLE Payment (
payment_ID INTEGER,
payment_date DATE,
payment_amount FLOAT,
payment_methods VARCHAR(20),
seller_ID INTEGER,
cart_ID INTEGER,
payment_status STRING

)

""")

In [ ]:
c.execute("""CREATE TABLE Shipping (
shipping_ID INTEGER,
shipping_duration TIME,
shipping_date DATE,
shipping_price FLOAT,
seller_ID INTEGER,
customer_ID INTEGER

)

""")

In [ ]:
c.execute("""CREATE TABLE Brand (
brand_ID INTEGER,
brand_name VARCHAR(20),
category_ID INTEGER

)

""")

In [ ]:
c.execute("""CREATE TABLE Category (
category_ID INTEGER,
category_name VARCHAR(20)

)

""")

In [ ]:
c.execute("""CREATE TABLE Transactions (
customer_ID INTEGER,
seller_ID INTEGER,
product_ID INTEGER,
cart_id INTEGER,
payment_ID INTEGER,
shipping_ID INTEGER,
payment_amount FLOAT
)

""")

In [ ]:
insertcustomer = 'INSERT INTO Customers VALUES (?,?,?,?,?,?)'
insertcart = 'INSERT INTO Cart VALUES (?,?,?,?)'
insertseller = 'INSERT INTO Seller VALUES (?,?,?,?)'
insertproduct = 'INSERT INTO Product VALUES (?,?,?,?,?)'
insertbrand = 'INSERT INTO Brand VALUES (?,?,?)'
insertcat = 'INSERT INTO Category VALUES (?,?)'
insertpay = 'INSERT INTO Payment VALUES (?,?,?,?,?,?,?)'
insertship = 'INSERT INTO Shipping VALUES (?,?,?,?,?, ?)'
inserttrans = 'INSERT INTO Transactions VALUES (?,?,?,?,?,?,?)'

In [ ]:
manycustomer = [
    ('202205', '081196284676', 'Budi', 'budilaksono@database.com', 'M','jl. Kejaksaan no. 18, Kota Bandung'),
    ('202208','082157398423', 'Anto', 'antoo71@database.com', 'M','jl. Barito Utara no. 07, Jakarta Selatan'),
    ('202271','081957283645', 'Ahmad', 'ahmadkece1@database.com', 'M','jl. Selat Sunda no. 9, Jakarta Timur')
]

manyseller = [
    ('101087','082166483534', 'Ruby Fashion', 'Jl. Tambora no. 22, Jakarta Barat'),
    ('101093','087128966412', 'Cartmax', 'Jl. Boulevard Gading Serpong no. 86, Tangerang'),
    ('101064','085215353101', 'The Gallery', 'Jl. Margonda Raya no. 56, Depok')
]


manyproduct = [
    ('303165','404673','101087', 'Hoodie', '499000'),
    ('303169','404354' , '101093', 'Bola Voli', '85000'),
    ('303098', '404456', '101064', 'Paper Instax', '95000')
]

manybrand = [
    ('404673', 'DieTie Hoods', '505016'),
    ('404354', 'TokoSportz', '505388'),
    ('404456', 'Paperlicious', '505786')
]

manycategory = [
    ('505016', 'Fashion'),
    ('505388', 'Sport'),
    ('505786', 'Camera')
]

manycart = [
    ('606834', '202205', '303165', '3'),
    ('606221', '202208', '303169', '5'),
    ('606989', '202271', '303098', '2')
]

manypayment = [
    ('707324', '17/05/2022', '1515000', 'Credit', '101087', '606834','Accepted'),
    ('707548', '16/05/2022', '425000', 'Debit', '101093', '606221', 'Accepted'),
    ('707915', '18/05/2022', '190000', 'E-Wallet','101064','606989','Accepted')
]

manyshipping = [
    ('808744', '3 hari', '18/05/2022', '18000','101087','202205'),
    ('808564', '3 hari', '18/05/2022', '20000','101093','202208'),
    ('808536', '2 hari', '19/05/2022', '24000','101064','202271' )
]

manytransaction = [
    ('202205', '101087', '303165', '606834', '707324', '808744', '1515000'),
    ('202208', '101093', '303169', '606221', '707548', '808564', '425000'),
    ('202271', '101064', '303098', '606989', '707915', '808536', '190000')
]

In [ ]:
c.executemany('INSERT INTO Customers VALUES (?,?,?,?,?,?)', manycustomer)
c.executemany('INSERT INTO Cart VALUES (?,?,?,?)', manycart)
c.executemany('INSERT INTO Seller VALUES (?,?,?,?)', manyseller)

In [ ]:
c.executemany('INSERT INTO Brand VALUES (?,?,?)', manybrand)
c.executemany('INSERT INTO Category VALUES (?,?)', manycategory)
c.executemany('INSERT INTO Payment VALUES (?,?,?,?,?,?,?)', manypayment)
c.executemany('INSERT INTO Shipping VALUES (?,?,?,?,?, ?)', manyshipping)
c.executemany('INSERT INTO Transactions VALUES (?,?,?,?,?,?,?)', manytransaction)

In [ ]:
c.executemany('INSERT INTO Product VALUES (?,?,?,?,?)', manyproduct)

In [ ]:
#FINAL TEST 1 FINALLLLEEEEE

while True:
    print(pd.read_sql_query('SELECT*FROM Product', con))
    posisi = int(input("Apa tujuan anda disini? (Pengguna termasuk seller customer (0)/Data Analyst(masukkan kode perusahaan)): "))
    if posisi == 5555:
        print(pd.read_sql_query('SELECT*FROM Customers', con))
        print(pd.read_sql_query('SELECT*FROM Seller', con))
        print(pd.read_sql_query('SELECT*FROM Product', con))
        print(pd.read_sql_query('SELECT*FROM Cart', con))
        print(pd.read_sql_query('SELECT*FROM Payment', con))
        print(pd.read_sql_query('SELECT*FROM Shipping', con))
        print(pd.read_sql_query('SELECT*FROM Brand', con))
        print(pd.read_sql_query('SELECT*FROM Category', con))
        print(pd.read_sql_query('SELECT*FROM Transactions', con))
        con.commit()
        con.close()
        break


    sob = int(input("Apakah anda di sini sebagai customer (0) atau seller (1)?: "))
    #input kalo dia seller
    if sob == 1:
        sid = rd.randint(101000,101999) #seller id
        sname = str(input("Enter your full name: "))
        snumber = int(input("Enter your phone number: "))
        saddress = str(input("Enter your address: "))
        c.execute(insertseller,(sid, sname, snumber, saddress))

        jualga = int(input("Apakah anda akan menjual barang di aplikasi? YA(0)/TIDAK(1): "))
        if jualga == 1:
            print("Terimakasih sudah mendaftarkan untuk menjadi seller di aplikasi kami!")
        if jualga == 0:
            print("Masukkan data produk yang ingin kamu jual!")
            pid = rd.randint(303000,303999) #product id
            bid = rd.randint(404000,404999) #brand id
            #sid
            bname = str(input("Apa nama merk(brand) dari produk yang akan anda jual?: "))
            catid = rd.randint(505000,505999)
            catname = str(input("Produk yang anda jual termasuk dalam kategori?: "))
            pname = str(input("Apa nama produk yang ingin anda jual?: "))
            pprice = int(input("Berapa harga barang yang anda jual? (masukkan angka saja ex= 20000): "))
            c.execute(insertproduct,(pid, bid, sid, pname, pprice))
            c.execute(insertbrand,(bid, bname, catid))
            c.execute(insertcat,(catid, catname))



        #input kalo dia customer
    if sob == 0:
        print("Apakah anda ingin membeli barang?")
        keputusan = int(input("Masukkan angka 0 jika anda tidak ingin membeli barang dan 1 jika anda ingin membeli barang: "))
        if keputusan==0:
            print("Terimakasih sudah melihat produk di aplikasi kami!")
        if keputusan==1:
            cid = rd.randint(202000,202999)#customer id
            caid = rd.randint(606000,606999)#cart id
            print("Silahkan masukkan data diri anda!")
            cname = str(input("Enter your full name: "))
            cnumber = int(input("Enter your phone number: "))
            cemail = str(input("Enter your email address: "))
            cgender = str(input("Enter your gender, M/F: "))
            caddress = str(input("Enter your shipping address: "))
            c.execute(insertcustomer,(cid, cname, cnumber, cemail, cgender, caddress))

            x=0

            jum_prod = int(input("Apakah anda ingin menambahkan produk ke keranjang?(Ya=0/Tidak=1): "))
            if jum_prod==0:
                banyak = int(input("Masukkan banyak produk yang ingin anda beli!: "))
                while x < banyak:
                    print("Silahkan masukkan data produk yang ingin anda beli")
                    x = x+1 #jumlah produk
                    prodidcar = int(input("Masukkan product id dari produk yang ingin anda beli!: "))
                    prodselid = int(input("Masukkan seller id dari produk yang ingin anda beli!: "))
                c.execute(insertcart,(caid, cid, prodidcar, x))
                print("Mari lanjut ke pembayaran!")
                currentTimeDate = datetime.now() + timedelta(days=1)
                currentTime = currentTimeDate.strftime('%Y-%m-%d')
                #payment
                payid = rd.randint(707000,707999)
                shipid = rd.randint(808000,808999)
                payam = int(input("Masukkan nominal jumlah belanja anda dalam rupiah (ex: 100000): "))
                paymet = str(input("Metode pembayaran apa yang ingin anda gunakan?(debit, credit, e wallet): "))
                paydate= date.today()
                shipdate = currentTime
                paystat = print('Your payment Accepted')
                paystatus = "Accepted"
                pilship = int(input("Pilih harga dan durasi shipping yang anda mau, (0) untuk durasi 5 hari harga Rp.10,000 atau (1) untuk durasi 1 hari harga Rp,30,000: "))
                if pilship == 0:
                    shipdur = 5
                    shippri = 10000
                    c.execute(insertpay,(payid, paydate, payam, paymet, prodselid, caid, paystatus))
                    c.execute(insertship,(shipid, shipdur, shipdate, shippri, prodselid, cid))
                    c.execute(inserttrans,(cid, prodselid, prodidcar,caid, payid, shipid, payam))

                if pilship == 1:
                    shipdur = 1
                    shippri = 30000
                    c.execute(insertpay,(payid, paydate, payam, paymet, prodselid, caid, paystatus))
                    c.execute(insertship,(shipid, shipdur, shipdate, shippri, prodselid, cid))
                    c.execute(inserttrans,(cid, prodselid, prodidcar,caid, payid, shipid, payam))
            else:
                print("Terimakasih telah menjadi bagian dari customer aplikasi kami!")

   product_ID  brand_ID  seller_ID  product_name  product_price
0      303165    404673     101087        Hoodie         499000
1      303169    404354     101093     Bola Voli          85000
2      303098    404456     101064  Paper Instax          95000
Apa tujuan anda disini? (Pengguna termasuk seller customer (0)/Data Analyst(masukkan kode perusahaan)): 0
Apakah anda di sini sebagai customer (0) atau seller (1)?: 1
Enter your full name: abc
Enter your phone number: 0813
Enter your address: Jkt Barat

NameError: ignored

In [ ]:
# FINAL TEST 1 FINALLLLEEEEE

while True:
    print(pd.read_sql_query('SELECT*FROM Product', con))
    posisi = int(input("What is your purpose here? (User includes seller or customer (0)/Data Analyst (enter company code)): "))
    if posisi == 5555:
        print(pd.read_sql_query('SELECT*FROM Customers', con))
        print(pd.read_sql_query('SELECT*FROM Seller', con))
        print(pd.read_sql_query('SELECT*FROM Product', con))
        print(pd.read_sql_query('SELECT*FROM Cart', con))
        print(pd.read_sql_query('SELECT*FROM Payment', con))
        print(pd.read_sql_query('SELECT*FROM Shipping', con))
        print(pd.read_sql_query('SELECT*FROM Brand', con))
        print(pd.read_sql_query('SELECT*FROM Category', con))
        print(pd.read_sql_query('SELECT*FROM Transactions', con))
        con.commit()
        con.close()
        break

    sob = int(input("Are you here as a customer (0) or a seller (1)?: "))

    # if the user is a seller
    if sob == 1:
        sid = rd.randint(101000,101999) # seller id
        sname = str(input("Enter your full name: "))
        snumber = int(input("Enter your phone number: "))
        saddress = str(input("Enter your address: "))
        c.execute(insertseller,(sid, sname, snumber, saddress))

        jualga = int(input("Do you want to sell a product on the app? YES(0)/NO(1): "))
        if jualga == 1:
            print("Thank you for registering as a seller on our app!")
        if jualga == 0:
            print("Enter the product data you want to sell!")
            pid = rd.randint(303000,303999) # product id
            bid = rd.randint(404000,404999) # brand id
            # sid
            bname = str(input("What is the brand name of the product you want to sell?: "))
            catid = rd.randint(505000,505999)
            catname = str(input("What category does your product fall under?: "))
            pname = str(input("What is the name of the product you want to sell?: "))
            pprice = int(input("What is the price of your product? (numbers only, e.g. 20000): "))
            c.execute(insertproduct,(pid, bid, sid, pname, pprice))
            c.execute(insertbrand,(bid, bname, catid))
            c.execute(insertcat,(catid, catname))

    # if the user is a customer
    if sob == 0:
        print("Do you want to purchase a product?")
        keputusan = int(input("Enter 0 if you do not want to buy anything and 1 if you do: "))
        if keputusan == 0:
            print("Thank you for viewing products on our app!")
        if keputusan == 1:
            cid = rd.randint(202000,202999) # customer id
            caid = rd.randint(606000,606999) # cart id
            print("Please enter your personal details!")
            cname = str(input("Enter your full name: "))
            cnumber = int(input("Enter your phone number: "))
            cemail = str(input("Enter your email address: "))
            cgender = str(input("Enter your gender, M/F: "))
            caddress = str(input("Enter your shipping address: "))
            c.execute(insertcustomer,(cid, cname, cnumber, cemail, cgender, caddress))

            x = 0

            jum_prod = int(input("Do you want to add a product to the cart? (Yes=0/No=1): "))
            if jum_prod == 0:
                banyak = int(input("Enter how many products you want to buy!: "))
                while x < banyak:
                    print("Please enter the details of the product you want to buy")
                    x = x + 1 # number of products
                    prodidcar = int(input("Enter the product id of the product you want to buy!: "))
                    prodselid = int(input("Enter the seller id of the product you want to buy!: "))
                c.execute(insertcart,(caid, cid, prodidcar, x))
                print("Let's proceed to payment!")
                currentTimeDate = datetime.now() + timedelta(days=1)
                currentTime = currentTimeDate.strftime('%Y-%m-%d')

                # payment
                payid = rd.randint(707000,707999)
                shipid = rd.randint(808000,808999)
                payam = int(input("Enter the total amount of your purchase in Rupiah (e.g. 100000): "))
                paymet = str(input("Which payment method would you like to use? (debit, credit, e-wallet): "))
                paydate = date.today()
                shipdate = currentTime
                paystat = print('Your payment is accepted')
                paystatus = "Accepted"
                pilship = int(input("Choose your preferred shipping price and duration, (0) for 5 days at Rp.10,000 or (1) for 1 day at Rp.30,000: "))
                if pilship == 0:
                    shipdur = 5
                    shippri = 10000
                    c.execute(insertpay,(payid, paydate, payam, paymet, prodselid, caid, paystatus))
                    c.execute(insertship,(shipid, shipdur, shipdate, shippri, prodselid, cid))
                    c.execute(inserttrans,(cid, prodselid, prodidcar, caid, payid, shipid, payam))

                if pilship == 1:
                    shipdur = 1
                    shippri = 30000
                    c.execute(insertpay,(payid, paydate, payam, paymet, prodselid, caid, paystatus))
                    c.execute(insertship,(shipid, shipdur, shipdate, shippri, prodselid, cid))
                    c.execute(inserttrans,(cid, prodselid, prodidcar, caid, payid, shipid, payam))
            else:
                print("Thank you for being part of our app's customers!")